.contact {
  min-height: 100vh;
  padding: 75px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.title {
  font-size: 40px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.title span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
  color: rgb(0, 129, 201);
}
.container {
  height: max-content;
  width: 1100px;
  display: flex;
  gap: 50px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  background-color: rgb(0, 129, 201);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card svg {
  font-size: 25px;
  font-weight: bold;
}
.type {
  font-size: 20px;
  font-weight: bold;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description {
  font-size: 16px;
  font-weight: bold;
}
.description span {
  font-weight: bolder;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: rgb(0, 129, 201);
}
.input {
  height: 50px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  border: 0;
  outline: 0;
  color: gray;
  border: 1px solid rgb(0, 129, 201);
  border-radius: 10px;
  background-color: rgba(53, 142, 190, 0.219);
}
.textarea {
  height: 200px;
  width: 100%;
  font-weight: 550;
  font-size: 19px;
  padding: 15px;
  color: gray;
  outline: 0;
  border: 1px solid rgb(0, 129, 201);
  border-radius: 10px;
  background-color: rgba(53, 142, 190, 0.219);
  resize: none;
}
.button {
  width: max-content;
  padding: 12px 30px;
  font-weight: bold;
  border: 0;
  outline: 0;
  color: rgb(0, 129, 201);
  border: 1.5px solid rgb(0, 129, 201);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
.button:hover {
  color: white;
  background-color: rgb(0, 129, 201);
}
.wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.success {
  padding: 8px 20px;
  color: green;
  border: 1px solid green;
}
.error {
  padding: 8px 20px;
  color: red;
  border: 1px solid red;
}
@media (max-width: 1300px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 700px;
    flex-direction: column;
  }
  .cardContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 500px;
  }
  .cardContainer {
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .container {
    width: 350px;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .card {
    height: 150px;
    width: 100%;
  }
}
@media (max-width: 390px) {
  .container {
    width: 100%;
  }
}
