.skills {
  min-height: 100vh;
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgba(0, 129, 201, 0.1);
}
.container {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.skill p {
  font-weight: bold;
}
.html,
.git {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 115, 0, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
}
.css,
.ts,
.postgres,
.cpp,
.java,
.flutter {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(0, 60, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.css:hover,
.ts:hover,
.postgres:hover,
.cpp:hover,
.java:hover,
.flutter:hover,
.html:hover,
.git:hover,
.js:hover,
.react:hover,
.ionic:hover,
.api:hover,
.node:hover,
.mongodb:hover,
.firebase:hover {
  transform: scale(1.05);
}
.js {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(217, 255, 0, 0.411);
  display: flex;
  align-items: center;
  justify-content: center;
}
.react,
.ionic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(123, 236, 236, 0.288);
  display: flex;
  align-items: center;
  justify-content: center;
}
.api {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.308);
  display: flex;
  align-items: center;
  justify-content: center;
}
.node,
.mongodb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.301);
  display: flex;
  align-items: center;
  justify-content: center;
}
.firebase {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 166, 0, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 45px;
  width: 45px;
}

@media (max-width: 1600px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1300px) {
  .container {
    width: 900px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .container {
    width: 350px;
  }
  .skill div {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 390px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
